
.vs/Test/FileContentIndex/11fb4e6e-1937-4403-bdea-be121184c813.vsidx
.vs/Test/FileContentIndex/2dc9b544-f3de-4c1f-84c2-a4959e089167.vsidx
.vs/Test/FileContentIndex/fae713cb-a54c-4a92-bf0e-17a4ee49c20c.vsidx
/.vs/Test/FileContentIndex
